.activities{
    
    width: 70%;
    
}
.activities-container{
    width: 80%;
    
    
}
.title{
    display: flex;
    align-items: center;
    margin-top: 50px;
    color: blue;
    margin-bottom: 20px;
    
}
.icon{
    font-size: 40px;
    color: blueviolet;
}
.title h3{
    margin-left: 10px ;
}
.chores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}